/* 폰트 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ClimateCrisisKR-1979';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2')
    format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* 기본 */
* {
  margin: 0;
  padding: 0;
}

/* body */
body {
  background: var(--body-bg);
  font-family: 'GmarketSansMedium';
  width: 100%;
  height: 100%;
}

/* header */
header {
  background: var(--header-bg);
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  align-items: center;

  padding: 0px 30px;
  z-index: 3;
}
h1 {
  color: var(--h1-ft);
  font-family: 'ClimateCrisisKR-1979';
  font-weight: 400;
}

/* nav */
ul {
  display: flex;
}
li {
  list-style-type: none;
}
.home {
  color: white;
  font-family: 'ClimateCrisisKR-1979';
  font-size: large;
  text-decoration: none;
  background: none;
}
nav {
  justify-content: end;
}

/* footer */
footer {
  position: relative;
  background: #dcdcdc32;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:last-child {
  text-align: center;
  color: rgb(140, 140, 140);
}

/* 검색 */
#movie_search {
  position: sticky;
  top: 20px;
}
.search {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.searchInput {
  width: 500px;
  height: 50px;
  font-size: 20px;
  font-family: 'GmarketSansMedium';
  background: var(--input-bg);
  color: var(--input-ft);
}
.searchBtn {
  width: 100px;
  height: 57px;
  margin-left: 10px;
  background-color: #000000;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  font-family: 'GmarketSansMedium';
}

#content {
  margin: 20px 50px;
}
/* 영화 카드 컨테이너 */
#movies {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

@media screen and (min-width: 1480px) {
  #movies {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 영화 카드 */
.movie_card {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: var(--card-bg);
  color: var(--card-ft);
  border-radius: 20px;
}
/* 카드 안 속성 */
p {
  margin-bottom: 10px;
}
.rate,
.popular {
  text-align: right;
}
#movie_title {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 스크롤 버튼 */
.scrollBtn {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 4;
}

/* switch style */
#switchBtn {
  position: absolute;
  top: 25px;
  right: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  cursor: pointer;
}

/* dark mode style */
:root {
  --header-bg: black;
  --header-ft: white;
  --body-bg: #e1fbff;
  --body-ft: black;
  --btn-bg: white;
  --btn-color: black;
  --btn-border: white;
  --card-bg: white;
  --card-ft: black;
  --input-bg: white;
  --input-ft: black;
  --h1-ft: white;
}

:root.dark {
  --header-bg: #74a2a9;
  --header-ft: rgb(234, 234, 234);
  --body-bg: rgb(54, 54, 54);
  --body-ft: rgb(234, 234, 234);
  --btn-bg: black;
  --btn-color: white;
  --btn-border: black;
  --card-bg: rgba(0, 0, 0, 0.4);
  --card-ft: rgb(186, 186, 186);
  --input-bg: black;
  --input-ft: rgb(186, 186, 186);
  --h1-ft: black;
}
